body{
    background-image: url("/Jupiter/jupi/background.jpeg");
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}
nav{
display: flex;
align-items: center;
justify-content: center;
max-height: 10%;
}